Makefile
Makefile.in
*.swp
*.swo
build/
aclocal.m4
autom4te.cache/
intltool-*
config.log
config.status
configure
mkinstalldirs
*~
config.guess*
config.sub*
install-sh
meshwork
meshwork.pc
missing
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/FileFind.Meshwork.GtkClient/Defines.cs
*.userprefs
*.usertasks
*.pidb
.DS_Store
Thumbs.db
obj/
meshwork-gtk.pc
*~.cs
tests/
debian/changelog
debian/stamp*
.idea/
bin/
packages/
