Source: meshwork
Section: contrib/net
Priority: optional
Maintainer: Eric Butler <eric@extremeboredom.net>
Build-Depends: debhelper (>= 5), cdbs, cli-common-dev (>= 0.4.4), mono-gmcs (>= 1.2.6), libmono-dev (>= 1.2.6), libgtk2.0-cil (>= 2.10), libglib2.0-cil (>= 2.10), libglade2.0-cil (>= 2.10), libgtk2.0-dev (>= 2.12), pkg-config, intltool, libgdiplus (>= 1.2.4), cdbs, libcairo2-dev, libmono-cairo2.0-cil (>= 1.2.6), automake (>= 1:1.10), libmono-sqlite2.0-cil (>= 1.2.6), mono-2.0-devel (>= 1.2.6), mono-1.0-devel (>= 1.2.6)
Standards-Version: 3.6.2

Package: meshwork
Architecture: all
Depends: ${shlibs:Depends}, ${cli:Depends}, ${misc:Depends}, libgdiplus (>= 1.2.4), libgtkspell0, libmono-cairo2.0-cil (>= 1.2.6), libmono-sqlite2.0-cil (>= 1.2.6)
Description: Your own private, distributed, and secure P2P network.
 Meshwork allows you to create a private virtual network of friends that you
 can use to chat, share files, and more without worrying about compromising
 your privacy.
